<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>NYC Real Estate & Tree Data</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/main.css') }}">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index">NYC Real Estate & Trees</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/index">Home</a></li>
					<li><a href="/team">About the Team</a></li>
					<li><a href="/leafletmap">Mapping NYC</a></li>
					<li><a href="/treedashboard">NYC Trees Dashboard</a></li>
					<li><a href="/realestatedashboard">NYC Real Estate Dashboard</a></li>
					<li><a href="/treedata">NYC Tree Census Data</a></li>
					<li><a href="/realestatedata">NYC Real Estate Data</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="heading" style= "height: 35rem !important">
				<div class="inner">
					<h1>Hidden Property Trends</h2> 
					<h2>Mapping NYC Real Estate Data Against Tree Data</h2>
					<p>Insert Summary<br />
					Insert Summary</p>
				</div>
				<!-- <video autoplay loop muted playsinline src="{{url_for('static', filename='images/banner2.mp4')}}"></video> -->
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>See Our Data Visualizations Below:</h2>
						<p>Summary</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="leafletmap" class="icon fa-map-marker"><span class="label">Icon</span></a>
									<h3>Leaflet Map</h3>
								</header>
								<p>Summary</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="treedashboard" class="icon fa-tree"><span class="label">Icon</span></a>
									<h3>NYC Street Trees Dashboard</h3>
								</header>
								<p>Summary</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="realestatedashboard" class="icon fa-building-o"><span class="label">Icon</span></a>
									<h3>NYC Real Estate Dashboard</h3>
								</header>
								<p>Summary</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Data Table Links -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>DATA TABLE LINKS HERE</h2>
					<p>Summary</p>
				</div>
			</section>

		<!-- Meet the Team V2-->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Meet the Team!</h2>
						<p>Summary</p>
					</header>
					
				<div class ="meettheteam">
					<div class="row">
						<div class="column">
						  <div class="card">
							<img src="{{url_for('static', filename='images/shadee.jpg')}}" alt="Shadee Tabasi" style="width:50%"/>

							<div class="container">
							  <h3>Shadee Tabasi</h3>
							</div>
						  </div>
						</div>
					  
						<div class="column">
						  <div class="card">
							<img src="{{url_for('static', filename='images/shadee.jpg')}}"  alt="Keiko Yara" style="width:50%">
							<div class="container">
							  <h3>Keiko Yara</h3>
							</div>
						  </div>
						</div>

						<div class="column">
							<div class="card">
								<img src="{{url_for('static', filename='images/shadee.jpg')}}"  alt="Dramane Nebie" style="width:50%">
								<div class="container">
								  <h3>Dramane Nebie</h3>
								</div>
							</div>
						</div>
						
						<div class="column">
							<div class="card">
								<img src="{{url_for('static', filename='images/shadee.jpg')}}"  alt="Jean-Pierre" style="width:50%">
								<div class="container">
								  <h3>Jean-Pierre Gilbert</h3>
							</div>
						</div>
					</div>
					</div>

	
							<!-- OLD CODE FOR TESTIMONIALS - USE LATER FOR FORMATTING -->
					<!-- <div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
					</div> -->
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>About the Project</h3>
							<p>Summary, time, generic info</p>
						</section>

						<section>
							<h4>Github</h4>
							<ul class="plain">
								<li><a href="https://github.com/keikoyara"><i class="icon fa-github">&nbsp;</i>Keiko Yara</a></li>
								<li><a href="https://github.com/shadeetabasi"><i class="icon fa-github">&nbsp;</i>Shadee Tabasi</a></li>
								<li><a href="https://github.com/dramane188"><i class="icon fa-github">&nbsp;</i>Dramane Nebie</a></li>
								<li><a href="https://github.com/JPG91"><i class="icon fa-github">&nbsp;</i>Jean-Pierre Gilbert</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>


	</body>
</html>