<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>NYC Real Estate & Tree Data</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/main.css') }}">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index">NYC Real Estate & Trees</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/index">Home</a></li>
					<li><a href="/leafletmap">Mapping NYC</a></li>
					<li><a href="/treedashboard">NYC Trees Dashboard</a></li>
					<li><a href="/realestatedashboard">NYC Real Estate Dashboard</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="heading" style= "height: 35rem !important">
				<div class="inner">
					<h1>Hidden Property Trends</h2> 
					<h2>Mapping NYC Real Estate Data Against Street Tree Data</h2>
				</div>
				<!-- <video autoplay loop muted playsinline src="{{url_for('static', filename='images/banner2.mp4')}}"></video> -->
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>About Our Data Visualizations</h2>
						<p>It's no secret that New Yorkers are willing to pay more for tree-lined streets and living closer to green spaces, but will the data prove that? <br>
						Our team is looking to understand how the most expensive boroughs (by average sale price per unit) compare to the areas and boroughs with the greatest street tree density. Other questions we would like to answer include:<br>
							1. Are there specific species of trees in more expensive boroughs as opposed to more affordable areas?<br>
							2. Are trees in better condition (re: alive/dead) in areas with higher value real estate properties?<br>
							3. Is there a higher density of trees near specific property types or in boroughs with specific property types (e.g. condo, co-op vs rental walk-up, etc.)?
						</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="leafletmap" class="icon fa-map-marker"><span class="label">Icon</span></a>
									<h3>Leaflet Map</h3>
								</header>
								<p>In this data visualization, we take a look at New York City boroughs, overlayed with average property values and tree density.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="treedashboard" class="icon fa-tree"><span class="label">Icon</span></a>
									<h3>NYC Street Trees Dashboard</h3>
								</header>
								<p>Within this dashboard, we take a look at just tree data - specifically, types of trees within each borough.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="realestatedashboard" class="icon fa-building-o"><span class="label">Icon</span></a>
									<h3>NYC Real Estate Dashboard</h3>
								</header>
								<p>Within this dashboard, we take a look at real estate data - specifically, types of buildings (e.g. condo, co-op, etc.) within each borough.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Data Table Links -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>See Our Data Sources</h2>
					<button type="button"><a href='https://www.kaggle.com/nycparks/tree-census?select=new_york_tree_census_2015.csv'>NYC Street Tree Data</a></button>
					<button type="button"><a href='https://www.kaggle.com/new-york-city/nyc-property-sales'>NYC Real Estate Data</a></button>
				</div>
			</section>

		<!-- Meet the Team V2 WHY IS IT NOT HAPPY?-->
			<!-- <section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Meet the Team!</h2>
					</header>
			
					<div class="row">
						<div class="column">
							<img src="{{url_for('static', filename='images/shadee.jpg')}}" alt="Shadee Tabasi" style="width:80%"/>
							<h4>Shadee Tabasi</h4>
						</div>
					  
						<div class="column">
							<img src="{{url_for('static', filename='images/keikoyara.jpg')}}"  alt="Keiko Yara" style="width:50%">
								<h4>Keiko Yara</h4>
						</div>

						<div class="column">
								<img src="{{url_for('static', filename='images/dramane.jpg')}}"  alt="Dramane Nebie" style="width:20%">
								  <h4>Dramane Nebie</h4>
						</div>
						
						<div class="column">
								<img src="{{url_for('static', filename='images/shadee.jpg')}}"  alt="Jean-Pierre Gilbert" style="width:80%">
								  <h4>Jean-Pierre Gilbert</h4>
						</div>
					</div>
				</div>
			</section> -->

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>About the Project</h3>
							<p>As part of the Columbia University NYC Data Analytics Bootcamp Program (2020-2021), our team put together an analysis on NYC Real Estate Data measured against NYC Street Tree Data. Our project includes languages such as Python, HTML, CSS, Javascript and SQL. Libraries include Pandas, D3, JQuery, SQLAlchemy and more. Data visualizations constructed utilizing Plotly and Leaflet.</p>
						</section>

						<section>
							<h4>Github</h4>
							<ul class="plain">
								<li><a href="https://github.com/keikoyara"><i class="icon fa-github">&nbsp;</i>Keiko Yara</a></li>
								<li><a href="https://github.com/shadeetabasi"><i class="icon fa-github">&nbsp;</i>Shadee Tabasi</a></li>
								<li><a href="https://github.com/dramane188"><i class="icon fa-github">&nbsp;</i>Dramane Nebie</a></li>
								<li><a href="https://github.com/JPG91"><i class="icon fa-github">&nbsp;</i>Jean-Pierre Gilbert</a></li>
							</ul>
						</section>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>


	</body>
</html>