<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>NYC Real Estate Dashboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/main.css') }}">	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="./index">NYC Real Estate & Trees</a>
				<nav>
					<a href="#menu">Menu</a>

				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index">Home</a></li>
					<li><a href="leafletmap">Mapping NYC</a></li>
					<li><a href="treedashboard">NYC Trees Dashboard</a></li>
					<li><a href="realestatedashboard">NYC Real Estate Dashboard</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>NYC Real Estate Dashboard</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<h3>Bronx</h3>
						<p>In the NYC borough of the Bronx, the most common building type would be the condos (elevator buildings) with close to 1000 examples. Two family dwellings come in second with about nine hundred examples followed by co-op-elevator buildings with about 800 examples.</p>
						<br>
						<h3>Brooklyn</h3>
						<p>In the NYC borough of Brooklyn, the most common building type would be condos (elevator buildings) with over 3000 examples. The second most common would-be co-op elevator buildings with about 3000 examples, with two-family houses coming in third with a little under 3000 examples.</p>
						<br>
						<h3>Manhattan</h3>
						<p>In the NYC borough of Manhattan, the most common building type would be condo building with elevators followed by co-op buildings with elevators, and two-family dwellings coming after. All three property types come in over 1000 examples.</p>
						<br>
						<h3>Queens</h3>
						<p>In the NYC borough of Queens, the most common property type would be condo buildings with elevators coming in at over 4000 examples, with co-cop buildings with elevators coming in at a little under 4000 examples, and two family dwellings coming at a little over 3000 examples.</p>
						<br>
						<h3>Staten Island</h3>
						<p>In the NYC borough of Staten Island, the most common property type would be condo buildings with elevators coming in at a little under 1500 examples. Two family dwellings come in at about 1300-1400 examples, and co-op buildings coming in 1000-1200 examples.</p>
						<br>
						<hr>
						<header>
							<h2>Conclusion</h2>
						</header>
						<p>The most common building type in New York City would be elevatored condo buildings. Elevatored co-op buildings are the second most common buildings in Brooklyn, Queens, and Manhattan, whereas as dual family setups would be the second most common buildings in Staten Island and the Bronx.</p>
						
						<div style="margin: 5%" id="bar"></div>

						<select id="selDataset" onchange="optionChanged(this.value)">
							{% for borough in boroughs %}
							<option value="{{ borough }}">{{ borough }}</option>
							{% endfor %}
						</select>
						</div>
						<div class="panel panel-primary">
						<div class="panel-heading">
						</div>
						<div id="sample-metadata" class="panel-body">
					
					</div>
				</div>
			</section>

		<!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>About the Project</h3>
                        <p>As part of the Columbia University NYC Data Analytics Bootcamp Program (2020-2021), our team put together an analysis on NYC Real Estate Data measured against NYC Street Tree Data. Our project includes languages such as Python, HTML, CSS, Javascript and SQL. Libraries include Pandas, D3, JQuery, SQLAlchemy and more. Data visualizations constructed utilizing Plotly and Leaflet.</p>
                    </section>

                    <section>
                        <h4>Github</h4>
                        <ul class="plain">
                            <li><a href="https://github.com/keikoyara"><i class="icon fa-github">&nbsp;</i>Keiko Yara</a></li>
								<li><a href="https://github.com/shadeetabasi"><i class="icon fa-github">&nbsp;</i>Shadee Tabasi</a></li>
								<li><a href="https://github.com/dramane188"><i class="icon fa-github">&nbsp;</i>Dramane Nebie</a></li>
								<li><a href="https://github.com/JPG91"><i class="icon fa-github">&nbsp;</i>Jean-Pierre Gilbert</a></li>
                        </ul>
                    </section>
                </div>
                <div class="copyright">
                    &copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
                </div>
            </div>
        </footer>

	<!-- Scripts -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
			<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

			<script>
				// SAVE PATH
				var raw_data = JSON.parse('{{ bar_data | tojson | safe}}');
		
				// Set bar chart data
				const barChartData = {
					x: [],
					y: [],
					type: "bar",
					orientation: "h",
					transforms: [{
						type: 'sort',
						order: 'ascending'
					}]
				};
				const layout = {
					margin: {
						l: 300,
						r: 100,
						b: 100,
						t: 100,
						pad: 4
					},
					title: {
						text:'',
						font: {
							family: 'Raleway',
							size: 24
						},
						xref: 'paper',
						x: 0.05,
						margin: {
							l: 50,
							r: 50,
							b: 1,
							t: 1,
							pad: 0
						}
					}
				};
		
				Plotly.newPlot("bar", [barChartData], layout).then(
					updatePlotly()
				);
		
				// This function is called when a dropdown menu item is selected
				function updatePlotly() {
					// Use D3 to select the dropdown menu
					var dropdownMenu = d3.select("#selDataset");
					// Assign the value of the dropdown menu option to a variable
					var borough = dropdownMenu.property("value");
		
					Plotly.restyle("bar", "y", [raw_data[borough]["y"]]);
					Plotly.restyle("bar", "x", [raw_data[borough]["x"]]);
					Plotly.relayout("bar", {"title": "Most common building types in " + borough +", NY"})
		
				}
		
				
				d3.selectAll("#selDataset").on("change", updatePlotly);
		
		
			</script>
</body>
</html>