<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>NYC Trees Dashboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/main.css') }}">	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="./index">NYC Real Estate & Trees</a>
				<nav>
					<a href="#menu">Menu</a>

				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index">Home</a></li>
					<li><a href="leafletmap">Mapping NYC</a></li>
					<li><a href="treedashboard">NYC Trees Dashboard</a></li>
					<li><a href="realestatedashboard">NYC Real Estate Dashboard</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>NYC Street Trees Dashboard</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
							<h2>Observations</h2>
						</header>
						<h3>Bronx</h3>
						<p>In the NYC borough of the Bronx, the most common trees are collery pear trees with over twenty thousand trees. The next largest would be the london plant trees coming in at a little under twenty thousand and red maple coming in third with an estimation between five and ten thousand.</p>
						<br>
						<h3>Brooklyn</h3>
						<p>In the NYC borough of Brooklyn, we can see that the most common trees are london planetrees. The estimated number of ion trees in Brooklyn are about thirty-five thousand. The next largest type would be honest locust trees, with the total amount being between and fifteen and twenty thousand with pine oak trees coming in third place with an estimated amount between ten and fifteen thousand.</p>
						<br>
						<h3>Manhattan</h3>
						<p>In the NYC borough of Manhattan, the most common tree is the honeylocust with over twelve thousand examples. The second most common amount of trees would be callery pearwith a little over seven thousand examples and the gingko being third with a little under six thousand.</p>
						<br>
						<h3>Queens</h3>
						<p>In the NYC borough of Queens, the most common tree would be the london planetree with over thirty thousand examples. The next most common tree would be pine oak with twenty to twenty-five thousand examples. The honey locust would come in third a little more than twenty thousand examples.</p>
						<br>
						<h3>Staten Island</h3>
						<p>In the NYC borough of Staten Island, the most common tree is the collery pear tree with over twenty thousand examples. The next most common tree after that would be London plant tree with a little under ten thousand examples. The red maple comes in third with an estimated amount being between five thousand and ten thousand.</p>
						<br>
						<hr>
						<header>
							<h2>Conclusion</h2>
						</header>
						<p>The land comprising of New York City holds an estimated 5.2 million trees. Although Brooklyn is the largest borough in regard to population, Queens is the borough with the most amount of trees. Queens is also the largest borough (in regard to total area). However, the Brooklyn neighborhoof of Cobble has the most trees per square mile at 5783. The Queens neighborhood ofWillets Point has the least amount of trees per square mile at 231. The most common tree in NewYork City as a whole would be the London planetree which appears in the top three most common trees for every borough except Manhattan. The London planetree also accounts for 15.3% of trees in New York City.</p>
						
						
						<div id="bar"></div>

						<div id="pie"></div>

							<select id="selDataset" onchange="optionChanged(this.value)">
								{% for boro in boros %}
								<option value="{{ boro }}">{{ boro }}</option>
								{% endfor %}
							</select>
							</div>
							<div class="panel panel-primary">
							<div class="panel-heading">
							</div>
							<div id="sample-metadata" class="panel-body">
          </div>
        </div>
      </div>
					</div>
				</div>
			</section>

		<!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>About the Project</h3>
                        <p>As part of the Columbia University NYC Data Analytics Bootcamp Program (2020-2021), our team put together an analysis on NYC Real Estate Data measured against NYC Street Tree Data. Our project includes languages such as Python, HTML, CSS, Javascript and SQL. Libraries include Pandas, D3, JQuery, SQLAlchemy and more. Data visualizations constructed utilizing Plotly and Leaflet.</p>
					</section>

                    <section>
                        <h4>Github</h4>
                        <ul class="plain">
                            <li><a href="https://github.com/keikoyara"><i class="icon fa-github">&nbsp;</i>Keiko Yara</a></li>
								<li><a href="https://github.com/shadeetabasi"><i class="icon fa-github">&nbsp;</i>Shadee Tabasi</a></li>
								<li><a href="https://github.com/dramane188"><i class="icon fa-github">&nbsp;</i>Dramane Nebie</a></li>
								<li><a href="https://github.com/JPG91"><i class="icon fa-github">&nbsp;</i>Jean-Pierre Gilbert</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </footer>

	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/browser.min.js"></script>
	<script src="/static/js/breakpoints.min.js"></script>
	<script src="/static/js/util.js"></script>
	<script src="/static/js/main.js"></script>

	<script>
		// SAVE PATH
		var raw_data = JSON.parse('{{ bar_data | tojson | safe}}');
		var pie_data = JSON.parse('{{ pie_data | tojson | safe}}');

		// Set bar chart data
		const barChartData = {
			x: [],
			y: [],
			type: "bar",
			orientation: "h",
			transforms: [{
				type: 'sort',
				order: 'ascending'
			}]
		};

		const pieChartData = {
			values: [],
			labels: [],
			type: "pie",
		};

		const layout = {
			title: {
				text:'',
				font: {
					family: 'Raleway',
					size: 24
				},
				xref: 'paper',
				x: 0.05,
				margin: {
					l: 200,
					r: 50,
					b: 1,
					t: 1,
					pad: 0
				}
			}
		};

		const pielayout = {
			height: 400,
        	width: 500
		};

		Plotly.newPlot("bar", [barChartData], layout).then(
			Plotly.newPlot("pie", [pieChartData], layout).then(
				updatePlotly()
			)
		);


		// This function is called when a dropdown menu item is selected
		function updatePlotly() {
			// Use D3 to select the dropdown menu
			var dropdownMenu = d3.select("#selDataset");
			// Assign the value of the dropdown menu option to a variable
			var boro = dropdownMenu.property("value");

			Plotly.restyle("bar", "y", [raw_data[boro]["y"]]);
			Plotly.restyle("bar", "x", [raw_data[boro]["x"]]);
			Plotly.relayout("bar", {"title": "Most Common Tree Species in " + boro  +", NY"})

			Plotly.restyle("pie", "values", [pie_data[boro]["values"]]);
			Plotly.restyle("pie", "labels", [pie_data[boro]["labels"]]);
			Plotly.relayout("pie", {"title": "Health/Condition of Trees in " + boro  +", NY"})

		}

		
		d3.selectAll("#selDataset").on("change", updatePlotly);


	</script>

</body>
</html>