<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>NYC Trees Dashboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/main.css') }}">	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="./index">NYC Real Estate & Trees</a>
				<nav>
					<a href="#menu">Menu</a>

				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index">Home</a></li>
					<li><a href="leafletmap">Mapping NYC</a></li>
					<li><a href="treedashboard">NYC Trees Dashboard</a></li>
					<li><a href="realestatedashboard">NYC Real Estate Dashboard</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>NYC Street Trees Dashboard</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
							<h2>Feugiat consequat</h2>
						</header>
						<p>Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Magna et cursus lorem faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod tempus. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida lorem ipsum dolor sit amet dolor feugiat consequat. </p>
						<hr />
						<h3>Magna odio tempus commodo</h3>
						<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor. Ante commodo blandit adipiscing integer semper orci eget. Faucibus commodo adipiscing mi eu nullam accumsan morbi arcu ornare odio mi adipiscing nascetur lacus ac interdum morbi accumsan vis mi accumsan ac praesent.</p>
						
						<div id="bar"></div>

							<select id="selDataset" onchange="optionChanged(this.value)">
								{% for boro in boros %}
								<option value="{{ boro }}">{{ boro }}</option>
								{% endfor %}
							</select>
							</div>
							<div class="panel panel-primary">
							<div class="panel-heading">
							</div>
							<div id="sample-metadata" class="panel-body">
          </div>
        </div>
      </div>
					</div>
				</div>
			</section>

		<!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>About the Project</h3>
                        <p>As part of the Columbia University NYC Data Analytics Bootcamp Program (2020-2021), our team put together an analysis on NYC Real Estate Data measured against NYC Street Tree Data. Our project includes languages such as Python, HTML, CSS, Javascript and SQL. Libraries include Pandas, D3, JQuery, SQLAlchemy and more. Data visualizations constructed utilizing Plotly and Leaflet.</p>
					</section>

                    <section>
                        <h4>Github</h4>
                        <ul class="plain">
                            <li><a href="https://github.com/keikoyara"><i class="icon fa-github">&nbsp;</i>Keiko Yara</a></li>
								<li><a href="https://github.com/shadeetabasi"><i class="icon fa-github">&nbsp;</i>Shadee Tabasi</a></li>
								<li><a href="https://github.com/dramane188"><i class="icon fa-github">&nbsp;</i>Dramane Nebie</a></li>
								<li><a href="https://github.com/JPG91"><i class="icon fa-github">&nbsp;</i>Jean-Pierre Gilbert</a></li>
                        </ul>
                    </section>
                </div>
                <div class="copyright">
                    &copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
                </div>
            </div>
        </footer>

	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/browser.min.js"></script>
	<script src="/static/js/breakpoints.min.js"></script>
	<script src="/static/js/util.js"></script>
	<script src="/static/js/main.js"></script>

	<script>
		// SAVE PATH
		var raw_data = JSON.parse('{{ bar_data | tojson | safe}}');

		// Set bar chart data
		const barChartData = {
			x: [],
			y: [],
			type: "bar",
			orientation: "h",
			transforms: [{
				type: 'sort',
				order: 'ascending'
			}]
		};
		const layout = {
			title: {
				text:'',
				font: {
					family: 'Raleway',
					size: 24
				},
				xref: 'paper',
				x: 0.05,
				margin: {
					l: 200,
					r: 50,
					b: 1,
					t: 1,
					pad: 0
				}
			}
		};

		Plotly.newPlot("bar", [barChartData], layout).then(
			updatePlotly()
		);

		// This function is called when a dropdown menu item is selected
		function updatePlotly() {
			// Use D3 to select the dropdown menu
			var dropdownMenu = d3.select("#selDataset");
			// Assign the value of the dropdown menu option to a variable
			var boro = dropdownMenu.property("value");

			Plotly.restyle("bar", "y", [raw_data[boro]["y"]]);
			Plotly.restyle("bar", "x", [raw_data[boro]["x"]]);
			Plotly.relayout("bar", {"title": "Most common trees in " + boro  +", NY"})

		}

		
		d3.selectAll("#selDataset").on("change", updatePlotly);


	</script>

</body>
</html>